name: logifan
description: Logic base core libraries for flutter
homepage: https://github.com/masoudcoder/logifan
version: 0.1.1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  retrofit: '>=4.0.0 <5.0.0'
  intl: ^0.19.0
  dio: ^5.4.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

